body {

    background-color: white ;
    background-repeat: no-repeat ;
    background-size: cover ;

}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

p {
    color: black;
    margin-left: 8px;
    margin-right: 8px;
}

.card-img-top {
    margin-right: 10px;
}

.row {
    display: grid;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 0px;
    margin-right: 0px;
}

.card-title {
    margin-top: 5px;
    margin-left: 5px;
}


.column {
    flex: 50%;
    padding: 0 4px;
}

#right-panel-link {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

#left-panel-link {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.column img {

    margin-top: 4px;
    width: 350px;
    height: 350px;
}

.pricelist img {

    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 350px;
    height: 350px;
}

.navbar.navbar-expand-lg{
    border-color: black;
    border-bottom-style: ridge;
}


input[type=text], select, textarea {

    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    background-color: transparent ;
    padding: 20px;

}

.web-content {
    position: relative;
    min-height: 75vh;

}



.card {
    margin-top: 5px;
    margin-right: 5px;
    float: left;

}

.card-body {
    height: 100%;
    margin-top: 10px;
}

body, html {
    height: 100%;
}


.midselection {
    margin-top: 30px;
    text-align: center;
    margin: auto;
}

.nav-link.m-2.menu-item {
    color: black;
}

.navbar-toggler-icon {
    color: black;
}

.text {
    color: black;
    text-align: justify;
    padding: 30px 25%;
}

.galleria {
    padding-left: 19%;
}

.red {
    color: red;
}

footer {
    margin-top: 500px;
    width: 100%;
    background-color: #f5f5f5;
    padding: 80px 0;
    bottom: 0;
    position: relative;

}
footer .footer-widget h3 {
    margin-bottom: 30px;
}
footer .contact-link {
    display: inline-block;
    width: 100%;
    color: #333;
}
footer .footer-social ul {
    padding-left: 0;
}
footer .footer-social ul li {
    list-style: none;
    float: left;
    padding: 0 10px;
}
footer .footer-social ul li:first-child {
    padding-left: 0;
}
footer .footer-social ul li a {
    font-size: 20px;
    color: #333;
}
footer .footer-social ul li a:hover {
    color: red;
}
footer .opening-time {
    padding-left: 0;
}
footer .opening-time li {
    list-style: none;
}
footer .opening-time li span {
    float: left;
    padding-right: 10px;
}
footer .opening-time li span .fa-times {
    color: red;
}
footer .opening-time li strong {
    color: red;
}
footer .media-body a {
    color: #333;
}
footer .media-body a:hover {
    color: red;
}
footer .media-body span {
    color: #969696;
}
footer .images-gellary ul {
    padding-left: 0;
}
footer .images-gellary ul li {
    list-style: none;
    float: left;
    margin: 0 3% 2% 0;
    width: 31%;
    position: relative;
}
footer .images-gellary ul li:nth-child(3n) {
    margin: 0 0 1%;
}